$fondo: rgb(66, 66, 66);
$hoverNavbar: rgb(255, 0, 0);
$caption: rgba(75, 70, 70, 0.658);
$pilotos: rgb(31, 30, 30);
$texto:rgb(255, 255, 255);
$botonContacto: rgb(230, 230, 230);
$botonContactoHover: rgb(153, 153, 153);