/* Estilos generales */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(66, 66, 66);
}

.header {
    grid-area: header;
}

.logoF1 {
    max-height: 20px;
}

.navbar-nav a {
    transition: all 0.5s ease;
}

.navbar-nav a:hover {
    background-color: red;
}

ul li a {
    text-decoration: none;
    color: #fff;
} 

a {
    color: #fff;
}

ul li {
    list-style-type: none;
}

main {
    grid-area: main;
    border-radius: 5px;
    padding-top: 5px;
    margin: 5px 10px;
    color: white;
}

section {
    color: white;
}

h1 {
    margin: 5px 0px;
}

p {
    margin: 1em 0;
}

footer {
    grid-area: footer;
    border-radius: 5px;
    padding-top: 5px;
    display: flex;
    background-image: url(../img/bandera_nav.jpg);
    height: 10vh;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-left: 5px;
}

/* INDEX */
.containerIndex {
    display:grid;
    height:100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "content1"
    "content2"
    "footer";
    gap: 0.2rem;
    text-align:center;
}

#content1 {
    grid-area: content1;
    border-radius: 5px;
    padding-top: 5px;
}

#content2 {
    grid-area: content2;
    border-radius: 5px;
    padding-top: 5px;
}

iframe {
    width: 98%;
    margin: 0px 5px;
}

/* CIRCUITOS */
.containerCircuitos {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0.2rem;
    grid-template-areas: 
    "header"
    "main"
    "calendario"
    "galeria"
    "footer";
    text-align: center;
}

.calendario {
    grid-area: calendario;
    margin: 5px 10px;
}                                                           

/* Display none porque pierde mucha resolución */
.imagenCalendario {
    width: 100%;
    display: none;
} 

.galeria {
    grid-area: galeria;
}

/* EQUIPOS */
.containerEquipos {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    gap: 0.2rem;
    grid-template-areas: 
    "header"
    "main"
    "pilotos"
    "galeriaEquipos"
    "footer";
}

.galeriaEquipos {
    grid-area: galeriaEquipos;
}

.carousel-inner img, .carousel-item img {
    width: 100vw;
    height: 40vh;
    max-height: 600px;
}

.carousel-caption {
    background-color: rgba(75, 70, 70, 0.658);
    border-radius: 5px;
}

.pilotos {
    grid-area: pilotos;
    display: flex;
    flex-direction: column;
}

.tituloPilotos {
    margin: 10px 0px 0px;
}

.piloto {
    background-color: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    border-radius: 15%;
    width: 90vw;
    margin: 2em 1.2em;
    padding: 1em;
    align-items: center;
}

.imagenPiloto {
    width: 75%;
    height: auto;
    border-radius: 15%;
    margin-top: 1em;
}

.nombrePiloto {
    margin-left: 1em;
}

.descripcionPiloto {
    text-align: start;
    width: 75%;
}

.imagenAuto {
    width: 90vw;
    height: 30vh;
}

/* CONTACTO */
.containerContacto {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr 0.8fr;
    text-align: center;
    gap: 0.2rem;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.formulario {
    width: 80vw;
    height: 75vh;
    margin: 2em;
}

form {
    border: solid #fff;
    border-radius: 8%;
    padding: 10px;
}

.tituloContacto {
    text-align: center;
}

input, textarea {
    width: 80%;
    padding: 10px;
    height: 2vh;
    margin: 10px 15px;
}

textarea {
    height: 6vh;
}

.checkbox {
    width: auto;
}

.boton {
    height: 8vh;
    background-color: #eee;
    border-radius: 4%;
    transition: all 0.5s ease;
    text-align: center;
    
}

.boton:hover {
    background-color: #999;
}

@media only screen and (min-width:576px) {
    /* INDEX */
    iframe {
        height: 30vh;
    }
    .imagenMenu {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
    }
    header {
        justify-content: center;
    }

    /* CIRCUITOS */
    .imagenCalendario {
        display: block;

    } 
    .carousel-inner img, .carousel-item img {
        height: 60vh;
    }

    /* EQUIPOS */
    .containerEquipos {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "main main"
        "pilotos pilotos"
        "galeriaEquipos galeriaEquipos"
        "footer footer";
    }
    .pilotos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "tituloPilotos tituloPilotos"
        "piloto1 piloto2";
    }
    .tituloPilotos {
        grid-area: tituloPilotos;
    }
    .piloto {
        width: 43vw;
    }
    .piloto1 {
        grid-area: piloto1;
    }
    .piloto2 {
        grid-area: piloto2;
    }

    /* CONTACTO */
    .formulario {
        width: 45vw;
    }
} 

@media only screen and (min-width:920px) {
    /* INDEX */
    .containerIndex {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1.5fr 1.5fr 0.3fr;
        grid-template-areas: 
        "header header"
        "main main"
        "content1 content2"
        "footer footer";
    }
    iframe {
        height: 50vh;
    }

    /* CIRCUITOS */
    .galeria {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .containerCircuitos {
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-areas: 
        "header header header"
        "main calendario calendario"
        "galeria galeria galeria"
        "footer footer footer";
    }
    .carousel-inner img, .carousel-item img {
    height: 90vh;
    }

    /* EQUIPOS */
    .articuloEquipo {
        margin-top: 10px;
    }
    .imagenAuto {
        width: 45vw;
        height: 40vh;
    }

    /* CONTACTO */
    .formulario {
        width: 35vw;
    }
}

