/* EQUIPOS */
.containerEquipos {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    gap: 0.2rem;
    grid-template-areas: 
    "header"
    "main"
    "pilotos"
    "galeriaEquipos"
    "footer";
}

.galeriaEquipos {
    grid-area: galeriaEquipos;
}

/* Dimensiones de las imagenes de la galeria */
.carousel-inner img, .carousel-item img {
    width: 100vw;
    height: 40vh;
    max-height: 600px;
}

.carousel-caption {
    background-color: $caption;
    border-radius: 5px;
}

.pilotos {
    grid-area: pilotos;
    display: flex;
    flex-direction: column;
}

.tituloPilotos {
    margin: 10px 0px 0px;
}

/* Estilo para cada carta de piloto */
.piloto {
    background-color: $pilotos;
    display: flex;
    flex-direction: column;
    border-radius: 15%;
    width: 90vw;
    margin: 2em 1.2em;
    padding: 1em;
    align-items: center;
}

.imagenPiloto {
    width: 75%;
    height: auto;
    border-radius: 15%;
    margin-top: 1em;
}

.nombrePiloto {
    margin-left: 1em;
}

.descripcionPiloto {
    text-align: start;
    width: 75%;
}
